@{
	ViewData["Title"] = "Our Projects";
	Layout = "_HomeLayout";
}

<!--[if lt IE 8]>
		   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	   <![endif]-->
<div class="site-preloader-wrap">
	<div class="spinner"></div>
</div>
<body>


    <section class="page-header padding">
        <div class="container">
            <div class="page-content text-center">
                <h2>MAJOR PROJECTS</h2>
                <p>Construction & Building.</p>
            </div>
        </div>
    </section>
    <section class="projects-section padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/img/project-1.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Design</a>

                            <h3><a asp-area="" asp-controller="BlogGrid" asp-action="Index" asp-route-category="WaterAndSewage" class="tittle">Water and Sewage</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/img/project-2.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Architecture</a>
                            <h3><a asp-area="" asp-controller="BlogGrid" asp-action="Index" asp-route-category="HeavyCivilConsturction" class="tittle">Heavy Civil Consturction</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/img/project-3.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Design</a>
                            <h3><a asp-area="" asp-controller="BlogGrid" asp-action="Index" asp-route-category="ResidentialBuilding" class="tittle">Residential Building</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/img/project-4.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Architecture</a>
                            <h3><a asp-area="" asp-controller="BlogGrid" asp-action="Index" asp-route-category="RenewableEnergy" class="tittle">Renewable Energy</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/img/project-5.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Design</a>
                            <h3><a asp-area="" asp-controller="BlogGrid" asp-action="Index" asp-route-category="Industrial" class="tittle">Industrial</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/img/project-6.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Design</a>
                            <h3><a asp-area="" asp-controller="BlogGrid" asp-action="Index" asp-route-category="GasStations" class="tittle">Gas Stations</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/img/project-1.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Architecture</a>
                            <h3>
                                <a asp-area="" asp-controller="BlogGrid" asp-action="Index" asp-route-category="Enviromental" class="tittle">Enviromental</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/img/project-3.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Design</a>
                            <h3><a asp-area="" asp-controller="BlogGrid" asp-action="Index" asp-route-category="CommercialBuilding" class="tittle">Commercial Building</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/img/project-2.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Design</a>
                            <h3><a asp-area="" asp-controller="BlogGrid" asp-action="Index" asp-route-category="AtccoShoring" class="tittle">Atcco Shoring</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/img/project-6.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Design</a>
                            <h3><a asp-area="" asp-controller="BlogGrid" asp-action="Index" asp-route-category="AtccoSteel" class="tittle">Atcco Steel</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/img/project-1.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Design</a>
                            <h3><a asp-area="" asp-controller="BlogGrid" asp-action="Index" asp-route-category="" class="tittle">All Projects</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="widget-section padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 sm-padding">
                    <div class="widget-content">
                        <a href="#"><img src="img/logo.png" alt="brand"></a>
                        <p>Building your own home is about desire, fantasy. But it’s achievable anyone can do it.</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 sm-padding">
                    <div class="widget-content">
                        <h4>Company</h4>
                        <ul class="widget-links">
                            <li>
                                <a class="" asp-area="" asp-controller="About" asp-action="Index">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a class="" asp-area="" asp-controller="About" asp-action="AboutAtccoSteel">
                                    About Atcco Steel
                                </a>
                            </li>
                            <li>
                                <a class="" asp-area="" asp-controller="Services" asp-action="Index">
                                    Services
                                </a>
                            </li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 sm-padding">
                    <div class="widget-content">
                        <h4>Headquaters</h4>
                        <p>
                            Wasfi Al Tal (Gardens) Street, Building 41 Yathreb Commercial Complex
                        </p>
                        <span><a href="http://html.dynamiclayers.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a8e0cdc4c4c7e8e9c4cdd0c9fcc0cdc5cd86c6cddc">[email&#160;protected]</a></span>
                        <span>(962 6) 5530381, 5537064</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 sm-padding">
                    <div class="widget-content">
                        <h4>Newslatter Subscription</h4>
                        <p>Subscribe and get 10% off from our <br>architecture company.</p>
                        <div class="subscribe-box clearfix">
                            <div class="subscribe-form-wrap">
                                <form action="#" class="subscribe-form">
                                    <input type="email" name="email" id="subs-email" class="form-input" placeholder="Enter Your Email Address...">
                                    <button type="submit" class="submit-btn">Subscribe</button>
                                    <div id="subscribe-result">
                                        <p class="subscription-success"></p>
                                        <p class="subscription-error"></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-section align-center">
        <div class="container">
            <p><a href="">RaspBerry M Agency</a></p>
        </div>
    </footer>
 
  

	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="js/vendor/jquery-1.12.4.min.js"></script>

	<script src="js/vendor/bootstrap.min.js"></script>

	<script src="js/vendor/tether.min.js"></script>

	<script src="js/vendor/headroom.min.js"></script>

	<script src="js/vendor/owl.carousel.min.js"></script>

	<script src="js/vendor/smooth-scroll.min.js"></script>

	<script src="js/vendor/venobox.min.js"></script>

	<script src="js/vendor/jquery.ajaxchimp.min.js"></script>

	<script src="js/vendor/slick.min.js"></script>

	<script src="js/vendor/waypoints.min.js"></script>

	<script src="js/vendor/odometer.min.js"></script>

	<script src="js/vendor/wow.min.js"></script>

	<script src="js/main.js"></script>
</body>

